html,
body,
#extension-root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family:
        'Inter',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif;
    color: #262d33;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #dee1e5;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #c1c6cc;
}
